<div class="landing-container">
    <h2 class="landing-titulo">¿Queres saber que juegos estan gratis en plataformas como Steam, Epic Games, Itch.io o GOG?</h2>
    <h3 class="landing-titulo">¡Entonces selecciona una de las opciones a las que [SUJETO DE IDENTIDAD DESCONOCIDA] esta apuntando!</h3>
    <img class="landing-imagen" src="{{ mobile? '/mobile-opciones.png' : '/web-opciones.png'}}" alt="Estan a la izquierda">
    <h5 class="landing-titulo">No te equivoques como lo hizo alguien el lunes 9 de diciembre del 2024 a las 21:40</h5>
</div>