<div class="navbar-container">
    <!-- <navbar-boton [plataforma]="'Inicio'"></navbar-boton> -->
    <navbar-boton (actualizar)="cambiarPlataforma($event)" [plataforma]="'Steam'"></navbar-boton>
    <navbar-boton (actualizar)="cambiarPlataforma($event)" [plataforma]="'Epic Games'"></navbar-boton>
    <navbar-boton (actualizar)="cambiarPlataforma($event)" [plataforma]="'Itch.io'"></navbar-boton>
    <navbar-boton (actualizar)="cambiarPlataforma($event)" [plataforma]="'GOG'"></navbar-boton>
</div>
