@media (min-width: 800px) {
    .display-container {
        display: flex;
        gap: 1vw;
        /* justify-content: center; */
        padding: 1vw 3vw;
        /* width: 100vw; */
        /* width: 100%; */
        flex-wrap: wrap;
        background-color: teal;
    }

    .titulo {
        font-family: Roboto;
        margin: 0 0 3vh 0;
    }

    .display-row {
        width: 100%;
        display: flex;
        gap: 2rem;
    }

    .vacio {
        /* text-align: center; */
        position: relative;
        /* background-color: red; */
        width: 75vw;
        height: 80vh;
        /* align-items: center; */
        align-content: center;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .cargando {
        position: relative;
        width: 75vw;
        height: 80vh;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .display-container {
        display: flex;
        gap: 2vh;
        /* justify-content: center; */
        padding: 1vw 3vw;
        /* width: 100vw; */
        /* width: 100%; */
        flex-wrap: wrap;
        background-color: teal;
    }

    .titulo {
        font-family: Roboto;
        margin: 3vh 0 3vh 0;
    }

    .display-row {
        width: 95vw;
        /* display: flex; */
        gap: 2rem;
    }

    .vacio {
        /* text-align: center; */
        position: relative;
        /* background-color: red; */
        width: 100%;
        height: 75vh;
        /* align-items: center; */
        align-content: center;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .cargando {
        position: relative;
        width: 100%;
        height: 75vh;
        text-align: center;
    }
}