<div class="display-container">
    <h2 class="titulo">{{ titulo }}</h2>
    <div *ngFor="let sublista of listaDeJuegos" class="display-row">
        <app-game-card *ngFor="let actual of sublista" [datos]="actual"></app-game-card>
    </div>

    <!-- <div class="display-row">
        <app-game-card></app-game-card>
        <app-game-card></app-game-card>
        <app-game-card></app-game-card>
        <app-game-card></app-game-card>
    </div>
    <div class="display-row">
        <app-game-card></app-game-card>
        <app-game-card></app-game-card>
    </div> -->
</div>